@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<form method="post" id="checkmail">

    <input name="emailaddres" id="emailaddres" type="text" required class="form-control" />
    <button type="submit">Gönder</button>

</form>


<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<style>

    body {
        background-color: #F1F4F5;
    }

    .card-header {
        padding: 0.2rem 1.25rem;
        /* margin-bottom: 0; */
        background-color: #ffffff;
        border-bottom: 0px;
    }

    .card-body {
        padding: 0rem 1.25rem;
    }

    p {
        margin-top: 0;
        margin-bottom: 10px;
    }

    .card {
        border-radius: 0px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .flex-wrap {
        margin-bottom: -35px;
    }

    div.dataTables_wrapper div.dataTables_paginate {
        margin-top: -25px;
    }

    .page-item.active .page-link {
        z-index: 1;
        color: #fff;
        background-color: #5D78FF;
        border-color: #5D78FF;
    }
</style>



<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<!-- Datatable Dependency start -->
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.20/b-1.6.1/b-colvis-1.6.1/b-html5-1.6.1/b-print-1.6.1/r-2.2.3/datatables.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.20/b-1.6.1/b-colvis-1.6.1/b-html5-1.6.1/b-print-1.6.1/r-2.2.3/datatables.min.css" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.20/b-1.6.1/b-colvis-1.6.1/b-html5-1.6.1/b-print-1.6.1/r-2.2.3/datatables.min.js"></script>

<!-- Datatable Dependency end -->



<div class="container">

    <div class="col-md-12">
        <div class="card">

            <div class="card-header">
                <h4>Data Table Export</h4>
                <p>Data table with print, pdf, csv</p>
                <button id="btnExport" class="btn btn-primary">Export Excel</button>
            </div>

            <div class="card-body">

                <table class="table table-bordered table-hover" id="table_id">
                    <thead>
                        <tr>
                            <th data-priority="1">#</th>
                            <th>E-mail</th>
                            <th>Domain Address</th>
                            <th>Mx Address</th>
                            <th data-priority="2">Error Type</th>
                            <th>Error Text</th>

                        </tr>
                    </thead>
                    <tbody>
                        @{
                            /* int i = 1;
                             foreach (var a in Model)
                             {
                                 <tr>
                                     <td>@i</td>
                                     <td>@a.email</td>
                                     <td>@a.emailDomain</td>
                                     <td>@a.emailMx</td>
                                     <td>@a.emailStatus</td>
                                     <td>@a.emailStatusDetail</td>
                                 </tr>
                                 i++;
                             }*/
                        }


                    </tbody>
                </table>

            </div>

        </div>
    </div>

</div>

<script>
    $(document).ready(function () {
        $('#table_id').DataTable({

            dom: 'Bfrtip',
            responsive: true,
            pageLength: 25,
            // lengthMenu: [0, 5, 10, 20, 50, 100, 200, 500],

            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]

        });
    });
</script>


<script>

    (function ($) {
        $('#checkmail').on('submit', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '/Home/GetEmails',
                data: $('#checkmail').serialize(),
                success: function (index) {
                    $(index).each(function (index, data) {
                        var lineNo = 1;
                        console.log(data);
                        markup = "<tr><td>" + lineNo + "</td><td>" + data.email + "</td><td>" + data.emailDomain + "</td>" +
                            "<td>" + data.emailMx + "</td>" +
                            "<td>" + data.emailStatus + "</td>" +
                            "<td>" + data.emailStatusDetail + "</td></tr>";
                        tableBody = $("table tbody");
                        tableBody.append(markup);
                        lineNo++;
                    });



                }
            });
        });
    })(jQuery);
</script>